    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    
    .main-page {
        height: 730px;
    }
    
    a {
        text-decoration: none;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    header {
        max-width: 100%;
        position: relative;
        height: 60px;
    }
    
    .head {
        max-width: 940px;
        height: 60px;
        color: #69B9FF;
        margin: auto;
        position: relative;
    }
    
    .header-container {
        width: 990px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    
    .logo {
        letter-spacing: 4px;
        line-height: 55px;
        font-size: 29px;
        font-family: 'Open Sans';
        color: #69B9FF
    }
    
    .menu__l {
        position: absolute;
        right: 110px;
        top: 19px;
        font-size: 18px;
        color: #69B9FF;
    }
    
    .menu {
        position: absolute;
        right: 20px;
        top: 19px;
        font-size: 18px;
        color: #676770;
    }
    
    .img {
        width: 100%;
        height: 700px;
        background-position: center;
        -webkit-background-size: cover;
    }
    
    .main-container {
        width: 100%;
        height: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 115px;
        padding-bottom: 185px;
        background-position: center;
        -webkit-background-size: cover;
    }
    
    .text {
        position: absolute;
        width: 529px;
        height: 60px;
        left: calc(50% - 529px/2 + 0.5px);
        top: 250px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 59px;
        line-height: 60px;
        /* identical to box height, or 102% */
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .button {
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        height: 50px;
        width: 150px;
        left: 580px;
        right: 0px;
        top: 490px;
        background: #69B9FF;
        border-radius: 4px;
        color: #FFFFFF;
        font-family: 'Open Sans';
    }
    
    .button2 {
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        height: 45px;
        width: 180px;
        left: 750px;
        right: 0%;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        top: 490px;
        color: #FFFFFF;
        font-family: 'Open Sans';
    }
    
    .s1 {
        width: 100%;
        min-height: 550px;
    }
    
    .block1 {
        max-width: 940px;
        position: relative;
        top: 50px;
        margin-top: 40px;
        min-height: 500px;
        margin: auto;
    }
    
    .block4 {
        display: flex;
    }
    
    .ppi {
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        letter-spacing: 5px;
        color: #676770;
        font-family: 'Open Sans';
    }
    
    .ppii {
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 70px;
        letter-spacing: 3px;
        color: #8E8E9C;
        font-family: 'Open Sans';
        padding-top: 20px;
    }
    
    .flex-box {
        display: flex;
    }
    
    .block2 {
        border: 1px solid #DCEBF7;
        width: 300px;
        margin: 6px;
        border-radius: 5px;
        height: 270px;
    }
    
    .ppip1 {
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 50px;
        letter-spacing: 7px;
        color: #676770;
        font-family: 'Open Sans';
    }
    
    .ppip2 {
        font-size: 14px;
        text-align: center;
        color: #6A859C;
        position: relative;
        top: 65px;
        font-family: 'Open Sans';
    }
    
    .peximg {
        background: url(img/2.png);
        height: 75px;
        width: 75px;
        top: 40px;
        background-position: 8px 0px, 0px 10px, 0 8px;
        left: 115px;
        position: relative;
        background-repeat: no-repeat;
        background-color: rgba(105, 185, 255, 1);
    }
    
    .peximg2 {
        background: url(img/3.png);
        height: 71px;
        width: 71px;
        top: 40px;
        left: 120px;
        position: relative;
        background-color: rgba(105, 185, 255, 1);
    }
    
    .peximg3 {
        background: url(img/4.png);
        height: 59px;
        width: 76px;
        top: 40px;
        left: 120px;
        position: relative;
        background-color: rgba(105, 185, 255, 1);
    }
    
    .s2 {
        width: 100%;
        background: #192024;
        min-height: 400px;
    }
    
    .block3 {
        max-width: 910px;
        position: relative;
        top: 70px;
        min-height: 860px;
        margin: auto;
    }
    
    .img3 {
        position: absolute;
        width: 430px;
        height: 287px;
        left: calc(50% - 900px/2);
        top: calc(50% - 287px/2 - 116.5px);
        border-radius: 0px;
    }
    
    .img4 {
        position: absolute;
        width: 430px;
        height: 287px;
        right: 0px;
        top: calc(50% - 287px/2 - 116.5px);
        border-radius: 0px;
    }
    
    .block5 {
        display: block;
    }
    
    .ya1 {
        position: absolute;
        width: 170px;
        height: 36px;
        left: calc(50% - 170px/2);
        top: -2.78px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        /* identical to box height, or 120% */
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .ya2 {
        position: absolute;
        width: 478px;
        height: 20px;
        left: calc(50% - 478px/2);
        top: 50.22px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        /* identical to box height, or 118% */
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #E8E8E8;
    }
    
    .yaa3 {
        position: absolute;
        width: 300px;
        height: 30px;
        left: calc(50% - 750px/2);
        top: 480px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .yaa4 {
        position: absolute;
        width: 400px;
        height: 100px;
        left: calc(50% - 870px/2);
        top: 530px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        /* or 179% */
        text-align: center;
        color: #FFFFFF;
    }
    
    .yaa5 {
        position: absolute;
        width: 218px;
        height: 30px;
        right: 100px;
        top: 480px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .yaa6 {
        position: absolute;
        width: 400px;
        height: 100px;
        right: 0px;
        top: 530px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        /* or 179% */
        text-align: center;
        color: #FFFFFF;
    }
    
    .button3 {
        position: absolute;
        width: 183px;
        height: 43px;
        left: calc(50% - 650px/2 + 0.5px);
        top: 650px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #192024;
        border-radius: 0px;
    }
    
    .button4 {
        position: absolute;
        width: 183px;
        height: 43px;
        right: 110px;
        top: 650px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #192024;
        border-radius: 0px;
    }
    
    .block6 {
        max-width: 940px;
        position: relative;
        top: 50px;
        min-height: 500px;
        margin: auto;
    }
    
    .img6 {
        top: 50px;
        position: relative;
        margin-bottom: 40px;
    }
    
    .buttoon {
        position: relative;
        display: flex;
        max-width: 635px;
        height: 21px;
        margin: auto;
    }
    
    .yh2 {
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: #8E8E9C;
    }
    
    .yh2 {
        max-width: 800px;
        margin: auto;
        position: relative;
    }
    
    .button-1 {
        width: 195px;
        line-height: 21px;
        text-align: center;
        border-radius: 4px;
        letter-spacing: 2px;
        color: white;
        margin: auto;
    }
    
    .buttoon {
        position: relative;
        display: flex;
        max-width: 635px;
        height: 21px;
        margin: auto;
        padding-top: 130px;
    }
    
    .l1 {
        background: #2E80B6;
    }
    
    .l2 {
        background: #92A0AD;
    }
    
    .yaho1 {
        position: absolute;
        width: 240px;
        height: 36px;
        left: calc(50% - 240px/2);
        top: -3.02px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        /* identical to box height, or 120% */
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #676770;
    }
    
    .yaho2 {
        position: absolute;
        width: 478px;
        height: 20px;
        left: calc(50% - 478px/2);
        top: 49.98px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        /* identical to box height, or 118% */
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #8E8E9C;
    }
    
    .yh1 {
        position: absolute;
        width: 232px;
        height: 36px;
        left: calc(50% - 232px/2);
        top: 820px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 36px;
        /* identical to box height, or 116% */
        text-align: center;
        color: #676770;
    }
    
    .yh2 {
        position: absolute;
        width: 709px;
        height: 25px;
        left: calc(50% - 709px/2 + 0.5px);
        top: 440px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
        /* identical to box height, or 192% */
        text-align: center;
        color: #6A859C;
    }
    
    .mg1 {
        position: absolute;
        height: 20px;
        left: 0px;
        top: 1100px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #676770;
    }
    
    .mg2 {
        position: absolute;
        height: 20px;
        left: 370px;
        top: 1100px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #676770;
    }
    
    .mg3 {
        position: absolute;
        height: 20px;
        left: 700px;
        top: 1100px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #676770;
    }
    
    .mg4 {
        position: absolute;
        height: 125px;
        right: 0px;
        left: -100px;
        top: 1150px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        /* or 179% */
        color: #6A859C;
    }
    
    .line1 {
        border: none;
        background-color: #D5D5E0;
        height: 1px;
    }
    
    .line {
        position: absolute;
        height: 20px;
        left: 370px;
        right: 37%;
        top: 1150px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */
        color: #668CAD;
    }
    
    .lin2 {
        position: absolute;
        width: 250px;
        height: 30px;
        left: 720px;
        right: 84.07%;
        top: 1150px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */
        color: #668CAD;
    }
    
    .mg5 {
        line-height: 3;
    }
    
    .mg6 {
        line-height: 3;
    }
    
    .mg7 {
        line-height: 3;
    }
    
    .mg8 {
        line-height: 3;
    }
    
    .mg9 {
        line-height: 3;
    }
    
    .socials {
        padding-top: 360px;
        margin-left: 690px;
    }
    
    .img-responsive11 {
        display: table-cell;
        margin-bottom: 20px;
    }
    
    .img-responsive2 {
        display: table-cell;
        margin-bottom: 20px;
    }
    
    .img-responsive3 {
        display: table-cell;
        margin-bottom: 25px;
    }
    
    .img-responsive4 {
        display: table-cell;
        margin-bottom: 25px;
    }
    
    .img-responsive5 {
        display: table-cell;
        margin-bottom: 20px;
    }
    
    footer {
        position: absolute;
        height: 101px;
        left: 0%;
        right: 0%;
        background: #383838;
        margin-top: 2900px;
    }
    
    footer p {
        color: rgba(158, 158, 158, 1);
        text-align: center;
        margin-top: 40px;
    }